<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="userName" placeholder="name" required>
      <label for="userName">Name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="userEmail" placeholder="name@example.com" required>
      <label for="userEmail">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="userPassword" placeholder="Password" required>
      <label for="userPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  </form>
</main>
